#playPauseButton {
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    width: 48px;
    height: 48px;
    background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_play_circle_outline_white_48px.svg');
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
}
#playPauseButton.playing {
    background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_pause_circle_outline_white_48px.svg');
}
